 .butt{
            background-color: aqua;
            border: none;
            border-radius: 10px;
            padding: 5px 15px;
        }
        .but{
            border: solid 2px black;
            padding: 5px 25px;
            border-radius: 15px;
        }